.text-move {
  color: rgba(82, 37, 206, 1) !important;
}
.border-custom {
  border-color: rgba(82, 37, 206, 0.368) !important;
}

.border-custom-container {
  border: 1px solid rgba(82, 37, 206, 0.134) !important;
}

.btn-move1 {
  background-color: rgba(82, 37, 206, 1) !important;
  border-style: none !important;
}

.btn-move1 :disabled {
  background-color: rgba(82, 37, 206, 1) !important;
  border-style: none !important;
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: rgba(82, 37, 206, 1) !important;
  border-style: none !important;
  color: aliceblue !important;
}

.button-white {
  background-color: white !important;
  border: 1px solid rgba(82, 37, 206, 0.134) !important;
}
.border-custom-red {
  border: 1px solid rgba(235, 78, 78, 1) !important;
}
.btn-red {
  background-color: rgba(235, 78, 78, 1) !important;
}
.text-red {
  color: rgba(235, 78, 78, 1);
}
