body {
  padding: 0px !important;
  margin: 0px !important;
  height: 100vh !important;
  background-color: #ffffff !important;
  overflow-x: hidden !important;
}
.btn-pink {
  background-color: #ed5ab3;
  color: white;
  border-radius: 10px;

  width: 200px;
  height: 48px;
  scale: 0.9;

  border-radius: 10px;
  border-style: none;
}
.text-blue-light {
  font-family: "GE SS Two light" !important;
}
.text-blue {
  color: #001b79;
  font-family: "GE SS Two Bold" !important;
}
.btn-blue {
  background-color: #001b79;
  width: 226px;
  height: 48px;
  scale: 0.9;

  border-radius: 10px;
  gap: 10px;
}
.border-form {
  border: 1px solid rgb(198, 208, 247);
  border-radius: 25px;
  padding: 15px 15px 60px;
}

.btn-min-info {
  background-color: rgba(0, 27, 121, 0.04) !important;
  border-style: none !important;
  border: 1px solid rgba(0, 27, 121, 0.3) !important;
  width: 35px;
  height: 35px;
  border-radius: 7px;
}
.btn-min-danger {
  background-color: rgba(0, 27, 121, 0.04) !important;
  border-style: none !important;
  background-color: rgba(216, 162, 162, 0.497) !important;

  border: 1px solid rgba(237, 90, 179, 0.3);
  width: 35px;
  height: 35px;
  border-radius: 7px;
  color: #ed5ab3;
}

.border-form-text {
  border: 0.5px solid rgba(130, 131, 133, 0.3);

  border-radius: 4px;

  opacity: 0.3px;
}
.height-result {
  min-height: 37vh;
}
.MuiStep-horizontal {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.MuiStepLabel-label {
  font-family: "GE SS Two light" !important;
  margin: 5px !important;
  color: #001b79 !important;
}
/* body {
  height: 100vh !important;
  background-color: #ffffff !important;
  overflow-x: hidden !important;
}
.btn-pink {
  background-color: #ed5ab3;
  color: white;
  border-radius: 10px;

  width: 226px;
  height: 48px;

  padding: 27px, 71px, 27px, 71px;
  border-radius: 10px;
  border-style: none;
}
.text-blue {
  color: #001b79;
  font-family: "GE SS Two Bold";
}
.btn-blue {
  background-color: #001b79;
  width: 226px;
  height: 48px;
  padding: 27px, 71px, 27px, 71px;
  border-radius: 10px;
  gap: 10px;
}
.border-form {
  border: 1px solid rgb(198, 208, 247);
  border-radius: 25px;
  padding: 15px 15px 60px;
}

.btn-min-info {
  background-color: rgba(0, 27, 121, 0.04) !important;
  border-style: none !important;
  border: 1px solid rgba(0, 27, 121, 0.3) !important;
  width: 35px;
  height: 35px;
  border-radius: 7px;
}
.btn-min-danger {
  background-color: rgba(0, 27, 121, 0.04) !important;
  border-style: none !important;
  background-color: rgba(216, 162, 162, 0.497) !important;

  border: 1px solid rgba(237, 90, 179, 0.3);
  width: 35px;
  height: 35px;
  border-radius: 7px;
  color: #ed5ab3;
}

.border-form-text {
  border: 1px solid rgba(130, 131, 133, 0.3);

  border-radius: 10px;

  opacity: 0.3px;
}
.height-result {
  min-height: 300px;
} */
