@font-face {
  font-family: "GE SS Two";
  src: url("./fonts/GESSTwoMedium-Medium.woff2") format("woff2"),
    url("./fonts/GESSTwoMedium-Medium.woff") format("woff"),
    url("./fonts/GESSTwoMedium-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GE SS Two";
  src: url("./fonts/GESSTwoBold-Bold.woff2") format("woff2"),
    url("./fonts/GESSTwoBold-Bold.woff") format("woff"),
    url("./fonts/GESSTwoBold-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GE SS Two";
  src: url("./fonts/GESSTwoLight-Light.woff2") format("woff2"),
    url("./fonts/GESSTwoLight-Light.woff") format("woff"),
    url("./fonts/GESSTwoLight-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "GE SS Two";

  color: #001b79;
}

.font-light {
  font-family: "GE SS Two Light" !important;
}
.text-pink {
  color: #eb59b1;
}
::-webkit-scrollbar {
  display: none;
}
