@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.font-basic{
    color:rgba(82, 37, 206, 1);

}
.bg-blue{
    background:rgba(82, 37, 206, 1);
}
.height-card {
    min-height: 790px !important;
}


@media only screen and (max-width: 768px) {
    /* Styles specific to screens with a maximum width of 768px (typical tablets and mobile devices) */
    .height-card {
        min-height: 600px !important;
    }
    /* Additional styles specific to smaller screens */
  }



  .font-number{
    font-family:'Inter';
  }