.allsidebar {
  /*position: fixed;*/
  top: 68px;
  right: 0;
  padding: 0 20px;
  border-left: 1px solid #001a7982;
  background: white;
  padding-top: 20px;
}
.chats {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.chats::-webkit-scrollbar {
  display: none;
}

.add-chat {
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 1px solid #001a7944;
  cursor: pointer;
  gap: 12px;
}
.fixed {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-container {
  position: relative;
  width: 100%;
}
.search-container input {
  outline: none;
  padding-left: 20px;
  color: #001a7944;
}
.search-container input::placeholder {
  color: #001a7944;
}
.search-container svg {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.head-of-chats {
  color: #001b79;
  font-size: 16px;
  opacity: 50%;
  margin-top: 10px;
}
