.bg_auth {
  background-image: url("../../assets/Images/bg.png");
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;

  font-family: "GE SS Two Light" !important;
}
.h_vh_IN,
.h_vh_UP {
  height: 100vh !important;
}

.input_style_auth {
  display: flex;
  width: 100%;
  height: 50px;
  padding-right: 24px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;

  outline: none;
}
.input_style_auth::placeholder {
  color: #c4c4c4;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.105px;
}
.icon_input {
  position: absolute;
  left: 20px;
  top: 13px;
}
.span_input {
  position: relative;
}
.span_input input {
  padding-left: 50px;
}
.form-check .form-check-input {
  float: right !important;
  margin-left: 0.5em !important;
  border: 1px solid var(#001b79) !important;
}
.button_auth {
  border-radius: 8px;
  display: flex;
  width: auto;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.105px;
  background:rgba(105, 43, 239, 1) !important;
  color: var(--white, #fff);
}
.btn-move{
  border-radius: 8px;
  display: flex;
  width: auto;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.105px;
  background:rgba(105, 43, 239, 1) !important;
  color: var(--white, #fff);

}
.button_auth:nth-child(1) {
  background: var(--white) !important;
  color: var(--primary);
  border: 1px solid var(--primary, #001b79);
}
.button_auth:nth-child(2) {
  background:var(--primary);
  color: var(--white);
  background:rgba(24, 119, 242, 1) !important;
  color: white;
  border-style: none;
}
.text-move{
 color: rgba(105, 43, 239, 1) !important;
}
.button_auth:nth-child(3) {
  background:rgba(24, 119, 242, 1) !important;
  color: white;
  border: 1px solid var(--primary, #001b79);
}
.h_vh_RES {
  height: 100vh;
}
@media screen and (min-width: 1800px) {
  .img_xxl {
    width: 350px;
  }
  .fs_auth {
    font-size: 20px;
  }
  .form-check-input {
    width: 1.5em !important;
    height: 1.5em !important;
  }
}

@media screen and (max-width: 450px) {
  .h_vh_UP {
    height: 130vh !important;
  }
}

@media screen and (max-width: 1380px) {
  .h_vh_IN {
    height: 125vh;
  }
  .h_vh_UP {
    height: 135vh;
  }
}
